# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/.next
/out
public/uploads

# misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor
.idea
.vscode
*.swp
